
body{
    background-image: url(https://i.pinimg.com/564x/94/8a/92/948a92dff6895d20c05602e670cdfd20.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#blogname{
    margin: 80px;
   color: rgb(241, 215, 215);
   text-align: center;
   margin-bottom: 10px;

}
#forcropshead{
    color: grey;
    border: 1px;
}
#cards{
    margin-top: 10px;

}
.card{
    margin: 10px;
    height: 300px;
    width: 300px;
    
}
.forcrops{
    margin: 40px;
   display: flex;
   padding: 5px;
   justify-content: space-around;
}
.newsletter{
    margin: 40px;
   display: flex;
   justify-content: space-around;
}
#newsl{
    color: grey;
}

.foodfacts{
    margin: 40px;
   display: flex;
   justify-content: space-around;
}
#ff{
    color: grey;
    height: 54px;
}
